<!-- C:\WebsiteDjSND\templates\home.html -->
{% extends 'base.html' %}

{% block content %}
<div class="content">
    <!-- Слайдер (заглушка) -->
    <div class="slider">Слайдер (заглушка)</div>

    <!-- Популярные категории/бренды -->
    <h2>Категории магазина</h2>
    <div>
        <div class="category-item">
            <p>Компьютерные мыши</p>
        </div>
        <div class="category-item">
            <p>Ноутбуки</p>
        </div>
        <div class="category-item">
            <p>Мониторы </p>
        </div>
        <div class="category-item">
            <p>Клавиатура</p>
        </div>
    </div>

    <!-- Информация о компании -->
    <h2>О нас</h2>
    <p>WebsiteDjSND — ваш надёжный онлайн-магазин компьютерной техники. Мы предлагаем широкий ассортимент товаров и лучший сервис!</p>
</div>
{% endblock %}